<!-- <h1>Hello from app component</h1>

<app-server></app-server>

<app-comp1></app-comp1>

<app-practice></app-practice>
<app-last></app-last>
<app-final></app-final>
<app-short-way></app-short-way> -->

<!-- <h2>App component</h2> -->
<!-- <app-child [appTitle]="title" [UserName]="name" [allUsers] = "users"></app-child>
<h2>From app component</h2>
<p *ngFor="let hero of users">
    The name : {{hero.name}} and the city : {{hero.city}}
</p> -->

<!-- <app-child (sendUsername)="getUsername($event)"  (sendMobileNum) = "getMobileNum($event)"></app-child> -->
<h1>App component</h1>

<div class="ajubaju">
<div class="recipeForm">
    <h2>Create a Recipe: </h2>
    <!-- <input type="number" class="test" -->
    <input type="text" class="text" #rname placeholder="Recipe Name" [(ngModel)]="name"><br /><br />

    <input type="text" class="text" placeholder="ingredients" [(ngModel)]="ingredients"><br /><br />
    <div class="category">
    <label for="category" id="category">Category</label>
    <select id="category" [(ngModel)]="type">
        <option value="empty"></option>
        <option value="Veg">veg</option>
        <option value="Non-veg">Non-veg</option>
    </select><br /><br />
</div>
    <input type="text" class="text" placeholder="Details" [(ngModel)]="details"><br /><br />

    <button class="submit" (click)="onAdd()">Submit</button>
</div>

<div class="recipe">

    <app-show-recipes [recipes]="items"></app-show-recipes>
</div>
</div>