
<!-- <h3>The title is {{appTitle}} </h3>
<h4>The name is {{UserName}} </h4>
<p> the users are {{allUsers}} </p>
<h2>From child component</h2>
<p *ngFor="let hero of allUsers">
    {{hero.name}} || {{hero.city}}
</p> -->
<h4>Create Receipe Form</h4>
<!-- <input type="text" [(ngModel)]="username">
<button (click)="sendUsername.emit(username)" >All UserName</button>

<input type="text" [(ngModel)]="mobileNum">
<button (click)="sendMobileNum.emit(mobileNum)" >All UserName</button> -->

<!-- <input type="text" class="text" [(ngModel)]="recipeName">
<input type="text" class="text" [(ngModel)]="ingredients">

<button (click)="sendRecipeName.emit(receipeName,ingredients)" >Submit</button> -->
<!-- <button (click)="sendRecipeName.emit(ingredients)" >Submit i</button> -->







